name: Controller - Dispatch Org Batches

on:
  workflow_dispatch:

jobs:
  fetch_organizations:
    outputs:
      matrix: ${{ steps.process-matrix.outputs.matrix }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run fetch_organizations.rb
        run: bundle exec ruby src/fetch_organizations.rb

      - name: upload artifact
        uses: actions/upload-artifact@v5
        with:
          name: org-batches
          path: wikidata_orgs_*.json

  dispatch_batches:
    runs-on: ubuntu-latest
    needs: fetch_organizations
    env:
        GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Find batch files
        id: batches
        uses: actions/download-artifact@v5
        with:
          name: org-batches

      - name: Dispatch workflows with file content
        run: |
            BATCH_DIR="${{ steps.batches.outputs.download-path }}"

            for file in "$BATCH_DIR"/wikidata_orgs_*.json; do
            echo "Reading: $file"

            # Encode file content in Base64
            CONTENT=$(base64 -w0 "$file")

            echo "Dispatching with embedded content"
            gh workflow run process-batch.yml \
                --ref main \
                --field batch_content="$CONTENT"
            done