name: Fetch Organizations and Push - Test

on:
  workflow_dispatch:

jobs:
  fetch_organizations:
    outputs:
      matrix: ${{ steps.process-matrix.outputs.matrix }}
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true

      - name: Run fetch_organizations.rb
        run: bundle exec ruby src/fetch_organizations.rb

      - name: Prepare matrix output
        id: process-matrix
        run: |
          echo "Reading wikidata_orgs.json..."
          MATRIX=$(cat wikidata_orgs.json | jq -c .)
          echo "matrix=${MATRIX}" >> $GITHUB_OUTPUT

        
  test_matrix:
    needs: fetch_organizations
    runs-on: ubuntu-latest
    strategy:
      matrix:
        org: ${{ fromJson(needs.fetch_organizations.outputs.matrix) }}
    steps:

      - name: Test organization data
        run: |
          sleep 10
          echo "Testing organization: ${{ matrix.org.url }} (Wikidata ID: ${{ matrix.org.artifact }})"
          